.projects-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;;
  }
  
  .carousel-inner {
    border-radius: 10px;
    /* width: 80%; */
    max-width: 50%; 
    overflow: none; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 768px) {
    .carousel-inner {
  margin-bottom: 10vh;
  margin-top: 10vh;
   
    }
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  