.projects-container {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;;
  }
  
  .carousel-inner {
    border-radius: 10px;
    width: 80%;
    max-width: 100%; /* Set max-width to 100% to prevent overflow */
    overflow: hidden; /* Add overflow to prevent images from overflowing */
    text-align: center; /* Center images horizontally */
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 768px) {
    .carousel-inner {
  margin-bottom: 10vh;
  margin-top: 10vh;
   
    }
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
  }
  