.projects-container {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 105px;
  margin-bottom: 85px;
}

.carousel-inner {
  border-radius: 10px;
  width: 100%; /* Adjust as needed */
  text-align: center;
}

.carousel-item img {
  max-width: 100%; /* Ensure images don't exceed carousel width */
  height: auto; /* Maintain aspect ratio */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
}

.carousel-control-prev-icon {
  left: 0;
}

.carousel-control-next-icon {
  right: 0;
}

@media (min-width: 991px) {
  .carousel-inner {
    width: 40%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}
