.footer {

  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; 
  border-radius: 1.5rem;
  padding: 20px; 
  text-align: center; 
  font-size: x-small;
  height: 13%;

}

.copyright {
  margin-top: -10px;
  padding-bottom: -50px;
}


@media (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 
  }
}


@media (min-width: 768px) {
  .footer {
    position: ab;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; /* Prevent content from wrapping */
  min-height: 100vh;
}

header {
  height: 100px;
}

content {
  flex-grow: 1; /* Allow content to grow and take up remaining space */
}

footer {
  height: 100px;
}
