/* .flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.footer {
  background: linear-gradient(to right, #ca970a, #e5da9a, #ca970a) !important;
  border: black solid 0.1px !important;
}

.card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.col-lg-6 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card {
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */
